<script>
import VkPostAttachmentComponent from "./VkPostAttachmentComponent.vue";
import store from "../../store";
import {mapGetters} from "vuex";

export default {
    computed: mapGetters(['getPosts']),
    mounted() {
        store.dispatch('fetchPosts');
    },
    components: {
        VkPostAttachmentComponent
    },
    methods: {
        formatDate(dateString) {
            const date = new Date(dateString);

            return new Intl.DateTimeFormat('default', {dateStyle: 'full', timeStyle: 'short'}).format(date);
        }
    }
}
</script>

<template>

    <div class="col-lg-4">

        <div class="card" v-for="post in this.getPosts.VK " v-bind:key="post.id">

            <VkPostAttachmentComponent :attach="post.attachments"></VkPostAttachmentComponent>

            <div class="card-body p-3">
                <h6 class="card-subtitle mb-2 text-muted">{{ formatDate(post.date) }}</h6>
                <p class="card-text">{{ post.text }}</p>
            </div>

            <div class="card-footer text-right">
                <i class="bi bi-heart-fill"></i> {{ post.likesCount }}
                <i class="bi bi-eye"></i> {{ post.viewsCount }}
                <i class="bi bi-reply-fill"></i> {{ post.repostsCount }}
            </div>

        </div>
    </div>
</template>

<style scoped>

</style>
