<script>
export default {
    props : ['attach'],
    data(){
        return {
            attachment:this.attach
        };
    },
    computed(){
        return {

        }
    },
    mounted() {
          },
    methods: {
    }
}
</script>

<template>

    <div v-for="attach in attachment">
        <div v-if="attach.type === 'photo'">
            <img class="card-img-top" :src="attach.photo.sizes[attach.photo.sizes.length-1]['url']" />
        </div>

    </div>
</template>

<style scoped>

</style>
