<script>
import Store from "../store";

export default {
    name: 'App',
    mounted() {
    },
    setup() {

    },
    store: Store
}
</script>

<template>
    <router-link to="/">index</router-link>
    <router-link to="/profile">profile</router-link>

    <aside id="sidebar" class="sidebar">
        <!--div class="cr-sidebar__background" ></div-->
        <ul class="sidebar-nav" id="sidebar-nav">

            <li class="nav-item">


                <router-link class="nav-link collapsed" to="/">
                    <i class="bi bi-grid"></i> <span>Dashboard</span>
                </router-link>
            </li><!-- End Dashboard Nav -->


            <li class="nav-item">
                <router-link class="nav-link collapsed" to="/profile">
                    <i class="bi bi-person"></i> <span>Profile</span>
                </router-link>
            </li><!-- End Profile Page Nav -->


        </ul>

    </aside>
    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Dashboard</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section dashboard">
            <div class="row">
                <router-view/>
            </div>
        </section>

    </main>

</template>

<style>

</style>
