<script>
import VkPostComponent from "./vk/VkPostComponent.vue"
import IndexPageTopStatistic from "./blocks/IndexPageTopStatistic.vue"
import store from "../store";
import {mapGetters} from "vuex";

export default {
    name: 'IndexComponent',
    components: {
        VkPostComponent,
        IndexPageTopStatistic
    },
    data() {
        return {
            posts: null,
            links: null
        };
    },
    computed: mapGetters(['getPosts']),
    beforeCreate() {
        axios.get('/api/v1/links/').then(response => {
            this.links = response.data;

        });
    },
    mounted() {
        store.dispatch('fetchPosts');
    },
}
</script>

<template>
    <div class="col-12">
        <div v-if="links.vk" class="alert alert-primary alert-dismissible fade show" role="alert">
            <i class="bx bxl-vk me-1"></i>
            Подключите Ваш аккаунт Vkontakte <a v-bind:href="links.vk">здесь</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <div v-if="links.instagram" class="alert alert-primary alert-dismissible fade show" role="alert">
            <i class="bx bxl-instagram me-1"></i>
            Подключите Ваш аккаунт Instagram <a v-bind:href="links.instagram">здесь</a>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>

    <IndexPageTopStatistic v-if="this.getPosts.VK"></IndexPageTopStatistic>

    <div class="row">
        <VkPostComponent></VkPostComponent>
    </div>
</template>

<style scoped>

</style>
