<script>
import {mapGetters} from "vuex";
import store from "../store";

export default {
    data() {
        return {

            changesMade: false,
            newProducts: false,
            proOffers: false,
            securityNotify: false,

        };
    },
    computed: mapGetters(['getCurUser']),
    setup() {
        store.dispatch('getCurUser');

    },
    mounted() {
        this.changesMade = this.getCurUser.data.user_settings.changesMade;
        this.newProducts = this.getCurUser.data.user_settings.newProducts;
        this.proOffers = this.getCurUser.data.user_settings.proOffers;
        this.securityNotify = this.getCurUser.data.user_settings.securityNotify;

    },
    methods: {
        submitFormPersonal: function (e) {
            e.preventDefault();

            axios.put('/api/v1/users/' + this.getCurUser.data.id,
                this.getCurUser.data
            );
        },
        submitFormAdditional: function (e) {
            e.preventDefault();

            axios.put('/api/v1/users/' + this.getCurUser.data.id,
                {
                    user_settings: {
                        changesMade: this.changesMade,
                        newProducts: this.newProducts,
                        proOffers: this.proOffers,
                        securityNotify: this.securityNotify
                    }
                }
            );
            console.log(e);
        }
    }
}
</script>

<template>

    <div class="col-xl-4">

        <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

                <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                <h2>Name </h2>
                <h3>Position</h3>
                <!--div class="social-links mt-2">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div-->
            </div>
        </div>

    </div>

    <div class="col-xl-8">

        <div class="card">
            <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

                    <!--li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Краткий обзор</button>
                    </li-->

                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-edit"
                                aria-selected="false" tabindex="-1" role="tab">Редактировать профиль
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-settings"
                                aria-selected="false" tabindex="-1" role="tab">Настройки
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#integrations"
                                aria-selected="false" tabindex="-1" role="tab">Интеграции
                        </button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password"
                                aria-selected="false" tabindex="-1" role="tab">Изменить пароль
                        </button>
                    </li>

                </ul>
                <div class="tab-content pt-2">

                    <div class="tab-pane  active show profile-edit pt-3" id="profile-edit">

                        <!-- Profile Edit Form -->
                        <form @submit="submitFormPersonal">
                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Имя</label>
                                <div class="col-md-8 col-lg-9">
                                    <input v-model="this.getCurUser.data.name" type="text" class="form-control"
                                           id="fullName">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Фамилия</label>
                                <div class="col-md-8 col-lg-9">
                                    <input name="lastName" v-model="this.getCurUser.data.last_name" type="text"
                                           class="form-control" id="lastName">
                                </div>
                            </div>


                            <div class="row mb-3">
                                <label for="Phone" class="col-md-4 col-lg-3 col-form-label">Номер телефона</label>
                                <div class="col-md-8 col-lg-9">
                                    <input v-model="this.getCurUser.data.phone" name="phone" type="text"
                                           class="form-control" id="Phone">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
                                <div class="col-md-8 col-lg-9">
                                    <input v-model="this.getCurUser.data.email" name="email" type="email"
                                           class="form-control" id="Email">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form><!-- End Profile Edit Form -->

                    </div>


                    <div class=" tab-pane fade  integrations  pt-3" id="integrations" role="tabpanel">
                        <p> Подключить ВК <a href=" ">Вход</a></p>
                        <p>Подключить Instagram <a href=" ">Вход</a></p>

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-settings" role="tabpanel">

                        <!-- Settings Form -->
                        <form v-on:submit="submitFormAdditional">

                            <div class="row mb-3">
                                <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email
                                    оповещения</label>
                                <div class="col-md-8 col-lg-9">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="changesMade"
                                               id="changesMade" v-model="changesMade">
                                        <label class="form-check-label" for="changesMade">
                                            Изменения Вашего аккаунта
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="newProducts"
                                               id="newProducts" v-model="newProducts">
                                        <label class="form-check-label" for="newProducts">
                                            Информация о новых функциях продуктах
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="proOffers" id="proOffers"
                                               v-model="proOffers">
                                        <label class="form-check-label" for="proOffers">
                                            Маркетинговые и промо предложения
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="securityNotify"
                                               id="securityNotify" v-model="securityNotify"
                                               disabled="">
                                        <label class="form-check-label" for="securityNotify">
                                            Оповещения безопасности
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Сохранить</button>
                            </div>
                        </form><!-- End settings Form -->

                    </div>

                    <div class="tab-pane fade pt-3" id="profile-change-password" role="tabpanel">

                        <form method="post" action="">


                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Текущий пароль</label>
                                <div class="col-md-8 col-lg-9">
                                    <input id="current_password" name="current_password" type="password"
                                           class="form-control" value="">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Новый пароль</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" class="form-control" id="password" name="password" value="">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="company" class="col-md-4 col-lg-3 col-form-label">Подтвердите пароль</label>
                                <div class="col-md-8 col-lg-9">
                                    <input type="password" class="form-control" id="password_confirmation"
                                           name="password_confirmation" value="">
                                </div>
                            </div>

                            <div class="text-center">
                                <button type="submit" class="btn btn-primary">Изменить</button>
                            </div>


                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<style scoped>

</style>
